<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.vvp.web.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableGenerator</servlet-name>
        <servlet-class>com.vvp.web.TableGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.vvp.web.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountVisitors</servlet-name>
        <servlet-class>com.vvp.web.CountVisitors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.vvp.web.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>com.vvp.web.Calculator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloworld.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableGenerator</servlet-name>
        <url-pattern>/tablegenerator.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logincontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountVisitors</servlet-name>
        <url-pattern>/countvisitors.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/calculator.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
